.header(flex="80" layout="row" layout-align="space-between center")
	md-icon(md-svg-icon="logoblk.svg")
	md-nav-bar(md-no-ink-bar="disableInkBar" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links")
		md-nav-item(md-nav-sref="home" name="Home") Home
		md-nav-item(md-nav-sref="servicios" name="Servicios") Servicios
