verde = #41B878

.croppie-container
	max-height 240px

.logo
	span
		color rgba(0,0,0,0.87) !important

	width 30%
	margin 0 auto

	form
		width 100%

.servicio
	.area
		h4
			color white
		border-radius 10px
		input, .ta-bind
			background-color white
			border-radius 10px
		md-icon, label, .md-button span
			color white !important

.evento
	section
		&.imagenes
			form
				margin 0px
				height 100%
				width 100%
				.dropify-wrapper, .croppie-container
					padding 0px
					border none
					height calc(100% - 36px)
					max-height none
				.md-button
					margin 0px
					border-radius 0px
			.imagen
				img
					width 100%
					height auto

md-sidenav
	md-icon
		color verde

footer
	height 100px
	background-color #3c3c3c
	md-icon
		height 50px
		width auto
